@mixin label($spacer, $border-radius, $bg-color) {
  display: flex;
  align-items: center;
  padding-top: 0.25 * $spacer;
  padding-right: 0.5 * $spacer;
  padding-bottom: 0.25 * $spacer;
  padding-left: 0.5 * $spacer;
  border-radius: $border-radius;
  background-color: $bg-color;
  font-size: 0.9em;
  cursor: default;
}

@mixin alert($bg-color, $border-color: $bg-color) {
  border: 1px solid $border-color;
  background-color: rgba($bg-color, 0.35);
}
