$white: #fff;
$black: #000;
$light: #f1f2f6;
$light-gray: #dcdde1;
$danger: #dd473b;
$warning: #feca57;
$success: #538a1b;

$spacer: 8px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
