.header {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.logo-with-name{
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  color: #171f1d;
  line-height: 52px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}

.logo{
  min-width: 50px;
  min-height: 50px;
}

.link-block-logo{
  margin-left: 30px;
}
.logo-name{
  margin-left: 5px;
}

.comparison-info{
  padding-right: 20px;
}

.user-page__search-error{
  display: inline-block;
  position: relative;
  left: 50%;
  top: 250px;
  transform: translateX(-50%);
}

@media screen and (max-width: 680px){
  .logo-with-name{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .comparison-info{
    display: none;
  }
}