@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
}

@media only screen and (max-device-width: 600px) {
  body {
    font-size: 12px;
  }
}

.page-wrapper {
  margin: 0 auto;
  padding: 2 * $spacer;
  position: relative;
  min-height: 100%;
  max-width: 1200px;
}

.page-card {
  padding: 2 * $spacer;
  border-radius: $border-radius-md;
  border: 1px solid $light-gray;
  background-color: $white;
}

.user-page__common-info .page-card {
  &__header {
    margin-bottom: 8px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;

    &-title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.user-page {
  &__section:not(:last-child) {
    margin-bottom: 2 * $spacer;
  }

  &__github-link {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  &__avatar {
    border-radius: 50%;
    border: 1px solid $light-gray;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &__company {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__email {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &__website {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &__map {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  &__location-info {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }

  &__created-date {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  &__following-count {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  &__followers-count {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  &__language-stat {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
}

.user-page__common-info .page-card {
  &__body {
    width: calc(100% - 32px);
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    text-align: center;
  }
}

.user-page__activity {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.user-page__activity {
  .page-card {
    &__pull-requests-info span,
    &__issues-info span {
      margin-right: 10px;
      display: inline-block;
      font-size: 14px;
    }

    &__pull-requests-count {
      width: 100%;
    }

    &__header {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    &__body {
      grid-column: 1 / 4;
      display: flex;
      gap: 10px;
      justify-content: space-around;
      grid-row: 2 / 3;
    }

    &__issues-info,
    &__pull-requests-info {
      margin-left: 2rem;
      flex-grow: 1;
    }

    &__user-activity-chart {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }
    &__user-activity-chart1 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &__user-activity-chart2 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
}

.user-page {
  &__language-stat {
    width: calc(100% - 32px);
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
  }

  &__languages-pie-chart {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &__languages-information {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__languages-result-size {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    word-wrap: break-word;
  }

  &__most-used-language {
    grid-column: 1 / 4;
  }

  .user-repository-list {
    &__item {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: $spacer;
      }
    }
  }

  &__languages-pie-chart {
  }
}

.VictoryContainer {
  position: relative;
}

.page-card {
  &__header {
    margin-bottom: $spacer;

    &-title {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.user-page__languages .page-card {
  &__header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.user-repository {
  padding: $spacer;
  display: flex;
  flex-direction: column;
  gap: $spacer;
  border-radius: $border-radius-md;

  &:hover {
    background-color: $light;
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: $spacer;
  }

  &__name-link {
    font-size: 1.2em;
  }

  &__fork-info {
    font-size: 0.9em;
  }

  &__label-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5 * $spacer;
  }

  &__action-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: $spacer;
  }
}

.label {
  &_icon-label {
    @include label($spacer, $border-radius-sm, $white);
    border: 1px solid $light-gray;

    .label__icon {
      margin-right: 0.25 * $spacer;
    }
  }

  &_language-label {
    @include label($spacer, $border-radius-sm, transparent);
    padding-left: 0;
    padding-right: 0;

    .label__icon {
      margin: -0.5 * $spacer;
    }
  }
}

@media screen and (max-width: 768px) {
  .user-page__common-info .page-card__body {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .user-page__activity .page-card__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page-card__body .user-page__avatar {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .user-page {
    &__language-stat {
      display: block;
    }
    &__languages-information {
      display: none;
    }
    &__avatar {
      display: none;
    }
  }
}
.user-page__languages-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl {
  visibility: hidden;
}
